<h1><a href="/" >Quess</a></h1>

<ul>
	<% @question.each do |q| %>
	<li><%= q.body %><a href="/questions/<%= q.id %>/edit">Edit</a></li>
	<% end %>
</ul>

<form method="post" action="/questions">
	<input type="text" name="question[body]">
	<input type="submit" value="Ask Question">
</form>