
<div class="home">
	<form action='/sessions' method='post'>
		<input type='text' name='login[email]' placeholder="Email">
		<br>
		<input type='password' name='login[password]' placeholder="Password">
		<br>
		<input type='submit' value='Login'>
		<br>
	</form>
</div>