<div class="home">
	<form action='/sessions' method='post'>
		<input type='text' name='login[email]' placeholder="Email">
		<br>
		<input type='password' name='login[password]' placeholder="Password">
		<br>
		<input type='submit' value='Login'>
		<br>
	</form>

	<form action='/users/new' method='get'>
		<input type='submit' value='Create Account'>
	</form>
</div>

<ul>
	<% @questions.each do |q| %>
	<li>
		<a href="/questions/<%= q.id %>/answers/show"><%= q.body %></a>
	</li>
	<% end %>
</ul>
