<div>
	<form action='/sessions' method='post' class="indexform">
		<div id="left">
			<input type='text' name='login[email]' placeholder="Email" class="forminput">

			<input type='password' name='login[password]' placeholder="Password" class="forminput">
		</div>
		<div id="right">
			<input class="btn-primary" type='submit' value='Login' id="indexlogin">
			<a href="/users/new" class="btn btn-primary" id="indexacc">Create Account</a>
		</div>
		<div class="clearfix"></div>
	</form>
</div>


<div class="qncontainer">
	<% @questions.each do |q| %>
	<div class="qnlist">
			<a href="/questions/<%= q.id %>/answers/show"><%= q.body %></a>
	</div>
	<% end %>
</div>

<%= will_paginate @questions%>